
    <div class="inmodal survey" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Guest Information</h5>
                            </div>

                            <div class="ibox-content">
                                <h2>Form</h2>
                                <p>Please fill out in order to reserve ur spot</p>

                                <form id="form" class="wizard-big">

                                    <h1>Personal</h1>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input id="fullname" name="fullname" type="text" class="form-control required">
                                                </div>

                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input id="email" name="email" type="text" class="form-control required email">
                                                </div>

                                            </div>
                                        </div>

                                    </fieldset>

                                    <div class="hr-line-solid"></div>
                                        <fieldset>
                                            <h2>Will you be attending our wedding in Colombia?/Vas a asistir a nuestra boda en Colombia? </h2>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div><label> <input type="radio"  icheck value="yes" ng-model="guest.attending" name="atte" > Yes I Do!/Si voy a ir! </label></div>
                                                    <div><label> <input type="radio"  icheck value="no"  ng-model="guest.attending" name="atte" > No I am Not!/No voy a ir </label></div>
                                                    {{guest.attending}}
                                                </div>
                                            </div>
                                    </fieldset>

                                    <div class="hr-line-solid"></div>
                                        <fieldset>
                                            <h2>Total number of guests in your party including you? Please indicate numbers of adults and number of children. Número total de personas que vienen contigo (incluyendote). Por favor indique el número de adultos, niños y nombres completos.</h2>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="font-bold">Adults/Adultos</p>
                                                        <input id="adults" type="text"  placeholder="0" name="adults" touch-spin spin-options="spinOption1" ng-model="newAdult" ng-change="addAdult(newAdult)" ng-disabled="!isUserAttending()">
                                                        <div class="form-group">
                                                            <div ng-repeat="adult in adultCount" >
                                                                <label>Adult {{$index}}</label>
                                                                <input type="text" class="form-control required" ng-model="guest.guests.adults[adult]" ng-disabled="!isUserAttending()">
                                                            </div>

                                                        </div>
                                                    {{guest.guests.adults}}
                                                    </div>

                                                    <div class="col-md-6">
                                                        <p class="font-bold">Kids/Niños</p>
                                                        <input id="kids" type="text" placeholder="0" name="kids" touch-spin spin-options="spinOption1" ng-model="newKid" ng-change="addKid(newKid)" ng-disabled="!isUserAttending()">
                                                        <div class="form-group">
                                                            <div ng-repeat="kid in kidCount">
                                                                <label>Kid {{$index}}</label>
                                                                <input  type="text" class="form-control required" ng-model="guest.guests.kids[kid]" ng-disabled="!isUserAttending()">
                                                            </div>
                                                        </div>
                                                        {{guest.guests.kids}}
                                                    </div>
                                                </div>

                                        </fieldset>

                                    <div class="hr-line-solid"></div>
                                        <fieldset>
                                            <h2> Do you live outside Colombia? Where? / Vives fuera de Colombia? Donde?</h2>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div><label> <input icheck ng-disabled="!isUserAttending()"  type="radio" value="yes" ng-model="guest.livesOutsideColombia" name="livesincolombia"> <i></i> Yes/Si</label></div>
                                                    <div><label> <input icheck ng-disabled="!isUserAttending()"  type="radio" value="no"  ng-model="guest.livesOutsideColombia" name="livesincolombia"> <i></i> No </label></div>
                                                </div>
                                                {{guest.livesOutsideColombia}}
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2>When will you be traveling to Colombia? How many days will you be staying?Cuando viajarás a Colombia?  Cuantos dias te quedarás?</h2>
                                                        <div class="form-group" id="data_5">
                                                            <label class="font-normal">Select Dates/Selecciona fechas</label>
                                                            <div class="input-daterange input-group" id="datepicker">
                                                                <input ng-disabled="!isUserAttending() || guest.livesOutsideColombia === 'no'" type="text" class="input-sm form-control" name="start" ng-value="'03/10/2018'" ng-model="guest.fromDate"/>
                                                                <span class="input-group-addon">to</span>
                                                                <input ng-disabled="!isUserAttending() || guest.livesOutsideColombia === 'no'" type="text" class="input-sm form-control" name="end" ng-value="'03/19/2018'" ng-model="guest.toDate"/>
                                                            </div>
                                                            {{guest.fromDate}} to {{guest.toDate}}
                                                        </div>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2>Do you have a place to stay in Medellin? If so, where?  / Tienes lugar para alojarte en Medellin? Si es asi, donde?</h2>
                                                    <div class="form-group">
                                                        <input ng-disabled="!isUserAttending() || guest.livesOutsideColombia === 'no'" placeholder="hotel, airbnb, etc.." name="medellinplace" type="text" class="form-control required" ng-model="guest.medellinPlace">
                                                    </div>
                                                    {{guest.medellinPlace}}
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2> Will be staying at Hotel Porton del Sol in Santa Fe de Antioquia? Te vas a hospedar en el hotel Porton del Sol en Santa Fe de Antioquia? </h2>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" id="portonyes" type="radio" checked="" value="yes" ng-model="stayingatporton" name="portonyes"> <i></i> Yes/Si</label></div>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" id="portonno" type="radio" value="no" name="portonyes" ng-model="stayingatporton"> <i></i> No </label></div>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2> Do you need us to assist you making a reservation in Hotel Porton del Sol? Necesitas que hagamos una reserva para usted en este hotel?</h2>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" id="portonassistyes" type="radio" checked="" value="yes" ng-model="portonassist" name="portonassist"> <i></i> Yes/Si</label></div>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" id="portonassistno" type="radio" value="no" name="portonassist" ng-model="portonassist"> <i></i> No </label></div>
                                                </div>
                                            </div>

                                        </fieldset>

                                    <div class="hr-line-solid"></div>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2>Will you be attending our lunch reunion on Thursday 15th at 12:00am? Vas a acompanarnos al almuerzo que realizaremos el Jueves 15?</h2>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" id="lunchyes" type="radio" checked="" value="yes" ng-model="islunching" name="lunchyes"> <i></i> Yes/Si</label></div>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" id="lunchno" type="radio" value="no" name="lunchyes" ng-model="islunching"> <i></i> No </label></div>
                                                </div>
                                            </div>
                                        </fieldset>

                                    <div class="hr-line-solid"></div>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2>Will you be needing any of the following services</h2>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" type="checkbox" value="" ng-model="makeup"> <i></i> Makeup </label></div>
                                                    <div class="i-checks"><label> <input ng-disabled="!isUserAttending()" type="checkbox" value="" ng-model="hair"> <i></i> Hair </label></div>
                                                </div>

                                            </div>
                                        </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--</div>-->

<!--</div>-->

<!--<script>
    $(document).ready(function(){
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex)
            {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex)
                {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex == 3 && Number($("#age").val()) < 18)
                {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex)
            {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex == 2 && Number($("#age").val()) >= 18)
                {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex == 2 && priorIndex == 3)
                {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex)
            {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex)
            {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element)
            {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
    });
</script>-->

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });


        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $('#data_2 .input-group.date').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "dd/mm/yyyy"
        });

        $('#data_3 .input-group.date').datepicker({
            startView: 2,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        $('#data_4 .input-group.date').datepicker({
            minViewMode: 1,
            keyboardNavigation: false,
            forceParse: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true
        });

        $('#data_5 .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });






        var divStyle = $('.back-change')[0].style;
        $('#demo_apidemo').colorpicker({
            color: divStyle.backgroundColor
        }).on('changeColor', function(ev) {
            divStyle.backgroundColor = ev.color.toHex();
        });



        $('input[name="daterange"]').daterangepicker();

        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

        $('#reportrange').daterangepicker({
            format: 'MM/DD/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '12/31/2015',
            dateLimit: { days: 60 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'right',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Submit',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });

        $(".select2_demo_1").select2();
        $(".select2_demo_2").select2();
        $(".select2_demo_3").select2({
            placeholder: "Select a state",
            allowClear: true
        });


        $('.dual_select').bootstrapDualListbox({
            selectorMinimalHeight: 160
        });


    });

    $('.chosen-select').chosen({width: "100%"});

    var basic_slider = document.getElementById('basic_slider');



    var range_slider = document.getElementById('range_slider');



    var drag_fixed = document.getElementById('drag-fixed');





</script>


