<div class="navbar-wrapper container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="dashboards.dashboard_1">Nuestro Matrimonio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="page-scroll" page-scroll href="#page-top">Home</a></li>
                    <li><a class="page-scroll" page-scroll href="#nosotros">Nosotros</a></li>
                    <li><a class="page-scroll" page-scroll href="#eventos">Eventos</a></li>
                    <li><a class="page-scroll" page-scroll href="#travel">Travel &amp; Accomodation</a></li>
                    <li><a class="page-scroll" page-scroll href="#itinerario">Itinerario</a></li>
                    <li><a class="page-scroll" page-scroll href="#comentarios">Comentarios</a></li>
                    <li><a class="page-scroll" page-scroll href="#rsvp">RSVP</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">Contactenos</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<section class="main-container">
    <article class="index-intro">
        <div class="jumbotron img-responsive center-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="heading-title">
                            <h1>Elizabeth &amp; Andres<br/>
                            Marzo 16, 2018<br/>
                            Medellin, Colombia</h1>
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>

            </div>

        </div>
    </article>

    <section id="nosotros" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Nosotros</h1>
                    <p>Hola a todos! Estamos muy felices de compartir este momento tan especial.
                        Ya casi llega el momento para que celebremos juntos nuestra union.<p/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <div class="team-member">
                        <img src="img/landing/flakus.jpg" class="img-responsive img-circle img-small" alt=""/>
                        <h4><span class="navy">Elizabeth</span> Echevarria</h4>
                        <p>“Lo que más me gusta de Pipe es su sentido del humor, siempre me hace reir.. y
                            me Encanta!... “Creo que es la persona ideal para compartir el resto de mi vida
                            porque me complementa de una forma que me dá la seguridad que juntos podemos
                            lograr cosas geniales” </p>
                        <ul class="list-inline social-icon">
                            <li><a href="https://twitter.com/eli2585"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/eli.echevarria.1"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/eli2525/"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 wow fadeInRight">
                    <div class="team-member">
                        <img src="img/landing/me1.jpg" class="img-responsive img-circle img-small" alt=""/>
                        <h4><span class="navy">Andres</span> Arango</h4>
                        <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                        <ul class="list-inline social-icon">
                            <li><a href="https://twitter.com/euSouPipe"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/eusoupipe/"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <h1>Nuestra Historia<h1/>
                        <p>
                            Muchos de ustedes han compartidos miles de momentos con nostros…Nos
                            conocimos en la escuela Secundaria en el 2000, una amiga en común nos presentó,
                            y desde alli comenzó nuestra historia de amor. Nos fascina el futbol, viajar, comer
                            y bailar!
                        </p>
                </div>
            </div>
        </div>
    </section>

    <section  id="eventos" class="container features">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Eventos</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">

                        <h4 class="m-b-xxs">Ceremonia <span class="label label-primary"></span></h4>
                        <!--<small>(optional layout)</small>-->
                        <p>La ceremonia tendrá lugar a las 4 de tarde en la iglesia Santa Bárbara localizada en Santa Fé de Antioquia.
                            La iglesia es estilo barroco popular antioqueño, data de 1726, siendo el templo en pie más antiguo de la localidad. El poeta Julio Vives Guerra la llamó “La Abuela de las iglesias de la Provincia de Antioquia”.</p>
                        <div>
                            <div>
                                <p class="fa fa-calendar"> March 16, 2018</p>
                            </div>
                            <div>
                                <p class="fa fa-clock-o"> 4:00 pm - 5:00 pm</p>
                            </div>
                            <div>
                                <p class="fa fa-map-o"> Iglesia Santa Barbara, Santa Fe de Antioquia</p>
                            </div>
                        </div>
                        <div class="m-t-md">
                            <!--                    <p>Check the Dashboard v.4 with top navigation layout</p>-->
                            <div class="p-lg ">
                                <a ui-sref="dashboards_top.dashboard_4"><img class="img-responsive img-shadow" src="img/santabarbara.jpg" alt=""/></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">

                        <h4 class="m-b-xxs">Recepcion</h4>
                        <p>La recepcion se celebrara en West Point, centro de eventos y convenciones</p><br/>
                        <div>
                            <div>
                                <p class="fa fa-calendar"> March 9, 2018</p>
                            </div>
                            <div>
                                <p class="fa fa-clock-o"> 8:00 pm - 2:00 am</p>
                            </div>
                            <div>
                                <p class="fa fa-map-o"> West Point, centro de eventos y convenciones, Santa Fe de Antioquia</p>
                            </div>
                        </div>
                        <div class="m-t-md">
                            <!--                    <p>Check the Dashboard v.4 with top navigation layout</p>-->
                            <div class="p-lg ">
                                <a ui-sref="dashboards_top.dashboard_4"><img class="img-responsive img-shadow" src="img/wp.jpg" alt=""/></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>




        </div>
    </section>

    <section class="features" id="travel">
        <div class="container">
            <div class="row">
                <div class="text-center wow fadeIn features-block">
                    <div class="navy-line"></div>
                    <h1>Travel &amp; Accomodation</h1>
                    <p> Si vienen del extranjero, el aeropuerto de Medellín es el Jose Maria Cordoba. El aeropuerto se ubica en el municipio de Rionegro. El recorrido hasta el centro de Medellín toma aproximadamente 45 minutos. Tenga en cuenta que en esta aventura, estaremos en dos locaciones: Medellín & Santa Fe de Antioquia.</p>
                    <br/><br/>
                    <h2>Opciones de transportación del Aeropuerto a Hotel en Medellín</h2>

                    <div class="col-lg-3">
                        <small>Rental Cars</small>
                        <p>Los mostradores de alquiler de coches se encuentran en la sala de arribos internacionales.<a href="https://www.aeropuertosdelmundo.com.ar/americadelsur/colombia/aeropuertos/medellin-alquiler.php"> Mas Informacion</a></p>
                    </div>

                    <div class="col-lg-3">
                        <small>Taxi</small>
                        <p>Vehículos privados o compartidos provistos por Flota Córdova Rionegro (Tel +57 4 444 0504).</p><p>Rápido Medellín Rionegro (Tel +57 4 561 9635)</p><p>Transportes Unidos (Tel +57 4 448 1204)</p><p>Aerotaxi (Tel +57 4 235 7171)</p><p>Transportes Chachafruto (Tel +57 4 444 0786)</p><p>Coopetaxi (Tel +57 4 532 1220) disponibles en el primer nivel.</p>
                    </div>

                    <div class="col-lg-3">
                        <small>Uber</small>
                        <p>Some Description</p>
                    </div>

                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-6 features-text text-center wow fadeInLeft">
                    <small>Santa Fe de Antioquia</small>
                    <h2>Hospedaje </h2>
                    <p>Santa Fe de Antioquia se encuentra localizado al occidente del departamento de Antioquia, a 61 kilómetros de la ciudad de Medellín. La duración aproximada del viaje en automóvil, es de una (1) hora, desde la ciudad de Medellín.
                        Hospedaje: El Hotel Portón del Sol abre las puertas a Santa fe de Antioquia, ubicado a 300 mts después del puente que cruza el río Cauca y a tan sólo 5 minutos del parque principal. Existen otros tipos de hospedaje como fincas y Airbnb. Asegúrese de comunicarse con ellos para reservar su habitación.
                    </p>
                    <a href="http://www.portondelsol.com/" class="btn btn-primary">Ver Mas</a>
                </div>
                <!--            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                                <img src="img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
                            </div>-->
                <div class="col-lg-6 features-text text-center  wow fadeInRight">
                    <small>Medellin</small>
                    <h2>Hospedaje</h2>
                    <p>En Medellin hay una gran variedad de hoteles disponibles, les sugerimos los siguientes hoteles para su estadía. Nosotros nos estaremos hospedando en el Hotel Poblado Plaza debido a su buena locación y de aquí saldrá el bus que nos llevará a Santa Fe de Antioquia el Jueves 15.
                        <h2>Diez Hotel </h2>
                            <p>Diez Hotel http://en.diezhotel.com/medellin/- Diez Hotel Categoría Colombia está concebido en armonía del medio ambiente en perfecto equilibrio entre lo artesanal y lo moderno, con todas las comodidades tecnológicas para tu alojamiento, evento y entretenimiento.</p>
                        <h2>Hotel Poblado Plaza</h2>
                            <p>Some Description</p>
                        <h2>Casa Victoria</h2>
                            <p>Some Description</p>
                        <h2>Airbnb</h2>
                            <p>Some Description</p>

                    <a href="" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>

    </section>

    <section class="timeline gray-section" id="itinerario">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Itinerary</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
                </div>
            </div>
            <div class="row features-block">

                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-hotel"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Check-in</h2>
                                <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                                </p>
                                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                                <span class="vertical-date"> Primer Dia <br/> <small>Mar 7</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-glass"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Brunch</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                                <span class="vertical-date"> Segundo Dia <br/> <small>Mar 8</small> </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-group"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Ceremonia</h2>
                                <p>Ceremonia Religiosa en la Iglesia Santa Barbara – Santa Fe de Antioquia
                                </p>
                                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                                <span class="vertical-date"> Tercer Dia <br/> <small>Mar 09</small> </span>
                            </div>


                        </div>
                        <div class="vertical-timeline-content">
                            <h2>Recepcion</h2>
                            <p>Celebración en West Point – Casa de Eventos</p>
                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!--<div class="wrapper wrapper-content">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">


                    <h4 class="text-center m">
                        Multiple example with responsive breakpoints
                    </h4>

                    <slick class="slick_demo_2" infinite="true" slides-to-show="3" slides-to-scroll="1" center-mode="true"
                           responsive="[ { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 3, infinite: true, dots: true } }, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 2 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } ]" >
                        <!--<div>
                            <div class="ibox-content">
                                <h2>Iglesia</h2>
                                <div class="p-lg ">
                                    <a ui-sref="dashboards_top.dashboard_4"><img class="img-responsive img-shadow" src="img/santabarbara.jpg" alt=""/></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>Salon</h2>
                                <div class="p-lg ">
                                    <a ui-sref="dashboards_top.dashboard_4"><img class="img-responsive img-shadow" src="img/wp.jpg" alt=""/></a>
                                </div>
                            </div>

                        </div>


                        <div>
                            <div class="ibox-content">
                                <h2>Slide 3</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <h2>Slide 4</h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap.
                                </p>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
        </div>
    </div>-->

    <section class="comments gray-section" id="comentarios" style="margin-top: 0" >
        <div class="container" ng-controller="modalDemoCtrl">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Comentarios</h1>
                    <p> Deja tu mensaje  <button class="btn btn-info btn-circle btn-lg" type="button" ng-click="postModal()"><i class="fa fa-plus"></i></button></p>
                </div>
            </div>

            <div class="row features-block scrollable">
                <div class="col-lg-4" ng-repeat="comment in comments">
                    <div class="bubble">
                        {{comment.message}}
                    </div>
                    <div class="comments-avatar">
                        <!--<div class="pull-left avat">
                            <i class="fa fa-user-circle-o"></i>
                        </div>-->
                        <div class="media-body">
                            <div class="commens-name">
                                {{comment.name}}
                            </div>
                            <small class="text-muted">{{comment.date | date }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="features" id="rsvp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>RSVP</h1>
                    <p>Para confirmar tu asistencia a nuestro matrimonio, entra el codigo de reservacion que te llego con tu invitacion</p>
                </div>
            </div>
            <div class="row features-block">

            </div>
        </div>

    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contactenos</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Elizabeth y Andres</span></strong><br/>
                        63 Whittlesey Avenue<br/>
                        West Orange, NJ 07052<br/>
                        <abbr title="Phone"></abbr> (973) 568-7107
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        Para cualquier pregunta llamenos o escribanos
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:echevarriae2@gmail.com" class="btn btn-primary">Send us mail</a>
                    <p class="m-t-sm">
                        Or follow us on social platform
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2017 Elizabeth &amp; Andres </strong><br/> Creado Con Amor Por Nosotros Dos </p>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            if($('body').hasClass('body-small')) {
                $('#navbar').collapse('toggle');
            }
        });

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>